/* ===========================
=            MAIN            =
=========================== */
/*
 * Abstracts
*/
/* ================================
=            FUNCTIONS            =
================================ */
/*
 *  LIGHTEN COLOUR
*/
/* End of LIGHTEN COLOUR */
/*
 *  DARKEN COLOUR
*/
/* End of DARKEN COLOUR */
/* ====  End of FUNCTIONS  ===== */
/* =============================
=            MIXINS            =
============================= */
/**
 * MEDIA QUERIES
**/
/*  End of MEDIA QUERIES  */
/**
 * FLEXBOX
**/
/* End of FLEXBOX */
/* ====  End of MIXINS  ===== */
/* ============================================
=            VARIABLES: GLOBAL            =
============================================ */
/*
 * General
*/
/* End of GENERAL */
/*
 * COLOURS
*/
/* --- */
/* End of COLOURS */
/*
 * GRID
*/
/* --- */
/* End of GRID */
/*
 * FONTS
*/
/* --- */
/* End of FONTS */
/* ====  End of VARIABLES: GLOBAL  ===== */
/* End of Abstracts */
/*
 * Base
*/
@import url(~normalize.css);
/* =============================
=            INDEX            =
============================= */
a {
  color: black;
  text-decoration: none; }

.main {
  font-size: 14px; }

/* ====  End of INDEX`  ===== */
/* End of Base */
/*
 * Layout
*/
/* ===========================
=            PAGE            =
=========================== */
.page {
  height: 90vh;
  margin: 0 auto;
  width: 800px; }

.header {
  margin: 2rem; }
  .header .title {
    font-size: 1.5rem; }

.data {
  display: flex;
  justify-content: center;
  font-size: 80%; }
  .data .data__set {
    display: inline-block;
    margin: 1rem 2rem; }
  .data .data__title {
    font-size: 1rem;
    margin: 0.5rem 0; }
  .data .data__list {
    margin-left: 10px;
    padding-left: 10px; }
  .data .data__item {
    background: #f6f6f8;
    color: #f15858;
    font-family: 'Lucida Console', monospace;
    list-style: none;
    padding: 5px 10px;
    margin: 3px 0; }

/* ====  End of PAGE  ===== */
/* End of Layout */
/*
 * Components
*/
/* =================================
=            SEARCH-BAR            =
================================= */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  box-shadow: -1px 1px 3px #ccc;
  padding: 4rem 3.5rem;
  margin: 2rem auto;
  width: 40%; }

.search-bar__input-container {
  position: relative; }

.search-bar__input {
  border: 1px solid #ccc;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0;
  padding: 0 5px;
  position: relative; }
  .search-bar__input:focus {
    outline: none; }

.search-bar__dropdown {
  position: absolute;
  top: calc(2rem + 1px);
  left: 0;
  width: 100%; }
  .search-bar__dropdown .search-bar__dropdown-item {
    background: #fff;
    border: 1px solid #ccc;
    cursor: default;
    font-size: 80%;
    padding: 10px; }
    .search-bar__dropdown .search-bar__dropdown-item:not(:last-child) {
      border-bottom: none; }
    .search-bar__dropdown .search-bar__dropdown-item:hover {
      background: #efefef; }

.search-bar__button {
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
  height: calc(2rem + 2px);
  padding: 0;
  vertical-align: bottom;
  width: 2.5rem; }
  .search-bar__button:focus {
    border: 1px solid #aaa;
    border-left: none;
    outline: none; }

.search-bar__icon {
  color: #999; }

/* ====  End of SEARCH-BAR  ===== */
/* End of Components */
/*
 * Pages
*/
/* End of Pages */
/*
 * Hacks
*/
/* ================================
=            SHAME            =
================================ */
/* --- */
/* ====  End of SHAME  ===== */
/* End of Hacks */
/* ====  End of MAIN  ===== */
