/* =============================
=            INDEX            =
============================= */

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.main {
  font-size: 14px;
}

/* ====  End of INDEX`  ===== */
